<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutReclam.php">
<table>
<caption>Ajouter Reclamation</caption>
<tr>
<td>ID_client</td>
<td><input type="number" name="ID_client"></td>
</tr>
<tr>
<td>sujet</td>
<td><input type="text" name="sujet"></td>
</tr>
<tr>
<td>texte</td>
<td><input type="text" name="texte"></td>
</tr>
<tr>
<td>date_Reclam</td>
<td><input type="date" name="date_reclam"></td>
</tr>
<td>etat</td>
<td><input type="text" name="etat"></td>
</tr>
<tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>